.container-grid6{
    position: absolute;
    width: 75%;
    margin-left: 25%;
}

.Row-grid-6{
    height: 14.28vh;
    width: 100%;
    margin: 0;
}

.R1-C2-6{background: rgba(46, 166, 132, 0.6);}
.R1-C3-6{background: rgba(56, 135, 166, 0.8);}
.R1-C4-6{background: #32628C;}

.R2-C3-6{background: rgba(50, 98, 140, 0.8);}
.R2-C4-6{background: #2EF297;}

.R3-C3-6{background: rgba(46, 242, 151, 0.8);}
.R3-C4-6{background: #2EA684;}

.R4-C3-6{background: rgba(46, 166, 132, 0.8);}
.R4-C4-6{background: #3887A6;}

.R5-C3-6{background: rgba(56, 135, 166, 0.8);}
.R5-C4-6{background: #32628C;}

.R6-C3-6{background: rgba(50, 98, 140, 0.8);}
.R6-C4-6{background: #2EF297;}

.R7-C1-6{background: rgba(56, 135, 166, 0.4);}
.R7-C2-6{background: rgba(50, 98, 140, 0.6);}
.R7-C3-6{background: rgba(46, 242, 151, 0.8);}
.R7-C4-6{background: #2EA684;}

